.navbar-custom {
    background-color: #2F4F4F;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,1);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.img-nav-bar{
    width: 30%;
    margin: 0 0.8em 0 0;
}

.text-justify{
    text-align: justify;
}

.img-rasp{
    width: 80%;
    padding: 1em 3em 3em 4em;
}

.navbar-toggler{
    color: white;
}

.navbar-toggler-icon{
    color: white;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 426px) {
    /*Mobiles*/
    .navbar-toggler{
        color: white;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .navbar-toggler-icon {
        color: white;
         background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
         white-space: nowrap;
        display: flex;
        align-items: center;
    }

    picture {
        display: flex;
        align-items: center;
    }

    .container-fluid {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .img-nav-bar{
        margin: .2em 13em 0 0;
    }

    .img-nav-bar-sm {
        width: 70%;
        margin: 0 .2em 0 .2em;
    }
}