.navbar-custom {
    background-color: #2F4F4F;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,1);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.img-nav-bar{
    width: 20%;
    margin-right: 0.8em;
}

.text-justify{
    text-align: justify;
}

.text-izq{
    text-align: left;
}

.img-rasp{
    width: 80%;
    padding: 1em 3em 3em 4em;
}

.img-eq{
    width: 40%;
}

.navbar-toggler{
    color: white;
}

.navbar-toggler-icon{
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item{
    margin: 0 0 0 .2em;
}

@media (max-width: 769px) {
    /*Tablets*/
    .img-nav-bar{
        width: 50%;
        margin: 0 0.8em 0 0;
    }

    .navbar-toggler{
        color: white;
    }

    .navbar-toggler-icon{
        color: white;
         background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

@media (max-width: 426px) {
    /*Mobiles*/
    .navbar-toggler{
        color: white;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .navbar-toggler-icon {
        color: white;
         background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
         white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .img-nav-bar{
        margin: .2em 0 0 0;
    }
}

@media (min-width: 426px) {
    /*4K*/
    .img-nav-bar{
        margin: .2em 1em 0 0;
        width: 20%;
    }
}

.btn-custom {
    font-size: 1rem;
    background: #8c52ff;
    color: #fff;
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.5s;
    text-decoration: none;
    transition: 0.5s;
}
.btn-custom:hover {
    background: #6935d2 !important;
    color: #fff;
    transition: 0.5s;
    border: 1px solid #4b229c;
}
.btn-custom:focus {
    box-shadow: 0 0 0 5px #00000044;
}

.btn-custom i{
    font-size: 1.2rem;
}

.btn-custom-outline {
    margin: 2rem 0;
    font-size: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background: #ffffff00;
    color: #ffffff;
    outline: none;
    border-radius: 8px;
    border: 1px solid #8c52ff;
    transition: 0.4s;
    position: relative;
    text-decoration: none;
}
.btn-custom-outline:hover {
    background: #8c52ff !important;
    color: #fff;
    transition: 0.4s;
    border: 1px solid #6935d2;
}
.btn-custom-outline:focus {
    box-shadow: 0 0 0 5px #00000044;
}

.btn-custom-outline i{
    font-size: 1.2rem;
}


.btn-custom-disabled {
    margin: 2rem 0;
    font-size: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background: #b28efb;
    color: #fff;
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.5s;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}
.btn-custom-disabled:hover {
    margin: 2rem 0;
    font-size: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background: #b28efb;
    color: #fff;
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.5s;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}


.img-ani:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 2s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(1deg); }
    10% { transform: translate(-2px, -3px) rotate(-2deg); }
    20% { transform: translate(-4px, 2px) rotate(2deg); }
    30% { transform: translate(4px, 3px) rotate(1deg); }
    40% { transform: translate(2px, -2px) rotate(2deg); }
    50% { transform: translate(-2px, 3px) rotate(-2deg); }
    60% { transform: translate(-4px, 2px) rotate(1deg); }
    70% { transform: translate(4px, 2px) rotate(-2deg); }
    80% { transform: translate(-2px, -2px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(1deg); }
    100% { transform: translate(0px, -1px) rotate(-1deg); }
  }

  .btn-custom2 {
    font-size: 1rem;
    background: #52d41f; /*#8c52ff*/
    color: #fff;
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.5s;
    text-decoration: none;
    transition: 0.5s;
}
.btn-custom2:hover {
    background: #6935d2 !important;
    color: #fff;
    transition: 0.5s;
    border: 1px solid #4b229c;
}
.btn-custom2:focus {
    box-shadow: 0 0 0 5px #00000044;
}

.btn-custom i{
    font-size: 1.2rem;
}

.btn-custom2-outline {
    margin: 2rem 0;
    font-size: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background: #ffffff00;
    color: #ffffff;
    outline: none;
    border-radius: 8px;
    border: 1px solid #71ae58;
    transition: 0.4s;
    position: relative;
    text-decoration: none;
}
.btn-custom2-outline:hover {
    background: #71ae58 !important;
    color: #fff;
    transition: 0.4s;
    border: 1px solid #177a10;
}
.btn-custom2-outline:focus {
    box-shadow: 0 0 0 5px #00000044;
}

.btn-custom2-outline i{
    font-size: 1.2rem;
}


.btn-custom2-disabled {
    margin: 2rem 0;
    font-size: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background: #b28efb;
    color: #fff;
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.5s;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}
.btn-custom2-disabled:hover {
    margin: 2rem 0;
    font-size: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background: #b28efb;
    color: #fff;
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.5s;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}

