{% extends "base.html" %}
{% load static %}

{% block extraHead %}{% endblock %}

{% block title %}Smart Crowd{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <h1>Sobre Smart Crowd</h1>
            <div class="col-sm-6">
                <div class="row pt-5">
                    <div id="textHome" class="text-justify">
                    <p style="font-size: 1.2em;">
                        Smart Crowd es un sistema embebido para el control de aforo de determinados espacios.
                        Toda nuestra tecnología es desarrollada en la placa de Raspberry PI4
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <img src="{% static 'img/rasp.png' %}" class="img-rasp">
                </div>
            </div>
        </div><!--primer fila-->


        <div class="row mb-5">
            <h1 class="mb-3">Equipo de desarrollo</h1>
          <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="d-flex justify-content-center">
                <div class="card text-center w-50">
                  <img src="{% static 'img/cafe.jpg' %}" class="card-img-top" alt="..." style="width: auto">
                  <div class="card-body">
                    <h5 class="card-title">Miguel A. Alejandre Arreola</h5>
                    <p class="card-text">Encargado del algoritmo de reconocimiento, modelo y sistema embebido.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="d-flex justify-content-center">
                <div class="card text-center w-50">
                  <img src="{% static 'img/cafe.jpg' %}" class="card-img-top" alt="..." style="width: auto">
                  <div class="card-body">
                    <h5 class="card-title">Ximena Manzo Castrejón</h5>
                    <p class="card-text">A cargo del desarrollo web y transferencia de datos.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
{% endblock %}