{% extends "base.html" %}
{% load static %}

{% block extraHead %}
<link rel="stylesheet" href="{% static 'css/animation.css' %}">
{% endblock %}


{% block title %}Smart Crowd{% endblock %}


{% block content %}
  <div class="context">
    <h1>Pure Css Animated Background</h1>
  </div>
  <div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
  </div >
{% endblock %}


{% block scripts %}

{% endblock %}