{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% block extraHead %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-custom">
      <div class="container-fluid">
        <img src="{% static 'img/SmartCrowdLogoSm.png' %}" class="img-nav-bar" alt="Smart Crowd">
        <button class="navbar-toggler" style="color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color:white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <hr style="color: white;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'info' %}">Informaci&oacute;n</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section>
          <!--
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-google"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
          -->
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating btn-custom2-outline m-1" href="https://www.linkedin.com/in/ximena-manzo-cast/" role="button" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
          </a>
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating btn-custom2-outline m-1" href="https://github.com/ximenamzo" role="button" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating btn-custom-outline m-1" href="https://www.linkedin.com/in/miguel-agustin-alejandre-arreola-901421259/" role="button" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
          </a>
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating btn-custom-outline m-1" href="https://github.com/Maskeit" role="button" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
        </section>
        <!-- Section: Social media -->

        
        <!-- Section: Form
        <section class="">
          <form action="">
            <div class="row d-flex justify-content-center">
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Próximo semáfono verde</strong>
                </p>
              </div>

              <div class="col-md-5 col-12">
                <div class="form-outline form-white mb-4">
                  <input type="cel" id="formcelular" class="form-control"/>
                  <label class="form-label" for="formcelular">Número de teléfono</label>
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-light mb-4">
                  Recibir SMS
                </button>
              </div>
            </div>
          </form>
        </section>
        Section: Form

        <section class="mb-4">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
            repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
            eum harum corrupti dicta, aliquam sequi voluptate quas.
          </p>
        </section>
        <section: Text -->

      </div>
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright - Manzo & Alejandre Co.
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  {% block scripts %}{% endblock %}
</body>
</html>