{% extends "base.html" %}
{% load static %}

{% block extraHead %}{% endblock %}

{% block title %}Smart Crowd{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row pt-5">
                    <div id="textHome" class="text-justify">
                    <p style="font-size: 1.2em;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris sodales ante lacus. In non mi pellentesque, feugiat urna dictum, iaculis arcu.
                        Phasellus dui purus, interdum vel ex ut, cursus pretium nisi. Integer interdum et nulla eget dictum.
                        Sed sed mauris et libero viverra posuere ut at felis. Ut et facilisis mi.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <img src="{% static 'img/raspberry.png' %}" class="img-rasp">
                </div>
            </div>
        </div>
    </div>
{% endblock %}